<div class="md:w-[350px] xl:w-[400px] px-6">
  <h2
    class="mt-4 text-center md:text-left text-4xl md:text-5xl xl:text-6xl md:leading-[56px] xl:leading-[68px] font-semibold mb-3"
  >
    Kontaktirajte nas!
  </h2>

  <p class="text-lg text-center md:text-left mb-3">
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s.
  </p>

  <p class="text-lg text-center md:text-left mb-3">
    When an unknown printer took a galley of type and scrambled it to make a
    type specimen book.
  </p>

  <p class="font-medium text-lg">Email:</p>
  <div class="flex items-center">
    <img
      src="./mail.svg"
      alt=""
      class="h-[20px] w-[20px] lg:h-[24px] lg:w-[24px] mr-2"
    />
    <a class="hover:underline" href="mailto:info@eko-cell.com
    "
      >info@eko-cell.com</a
    >
  </div>

  <p class="font-medium text-lg mt-3">Broj telefona:</p>
  <div class="flex items-center">
    <img
      src="./phone.svg"
      alt=""
      class="h-[20px] w-[20px] lg:h-[24px] lg:w-[24px] mr-2"
    />
    <a class="hover:underline" href="tel:+385 95 915 2692">+385 95 915 2692</a>
  </div>

  <p class="font-medium text-lg mt-3">Adresa:</p>
  <div class="flex align-baseline">
    <img
      src="./home.svg"
      alt=""
      class="h-[20px] w-[20px] lg:h-[24px] lg:w-[24px] mr-2 svg-baseline"
    />
    <p>Ul. Hrvatskih branitelja 43 G, 10431, Sv. Nedelja</p>
  </div>
</div>
