---
import RichText from "@components/RichText.astro";
import { getCategories } from "src/api/getCategories";
import Layout from "src/layouts/Layout.astro";
import type {
  FormattedElement,
  FormattedText,
} from "../../../../payload/src/rich-text-export";

export async function getStaticPaths() {
  const data = await getCategories();

  return data.category.map((c) => {
    return {
      params: { slug: c.slug },
      props: {
        opis: c.opis,
        ime: c.ime,
        specifikacijePrednost: c.specifikacije_i_prednost,
      },
    };
  });
}

const { slug } = Astro.params;
const { opis, ime, specifikacijePrednost } = Astro.props;

const content = specifikacijePrednost as (FormattedElement | FormattedText)[];
---

<Layout title="Ekocell | Egger Izolacija">
  <section class="xl:max-w-7xl m-auto mt-10">
    <h1>{slug}</h1> : {ime}

    {opis}

    {
      content.map(
        (s: any) => s.specifikacija && <RichText richText={s.specifikacija} />
      )
    }
  </section>
</Layout>
