---
import TextWithMedia from "@components/TextWithMedia.astro";
import { getCategories } from "src/api/getCategories";
import Layout from "src/layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await getCategories();

  return data.category.map((c) => {
    return {
      params: { slug: c.slug },
      props: {
        description: c.opis,
        name: c.ime,
        characteristics: c.characteristics,
      },
    };
  });
}

const { name, description, characteristics } = Astro.props;

const markdown = characteristics.description;

// const { opis, ime, specifikacijePrednost, categoryImages } = Astro.props;

// const content = specifikacijePrednost as (FormattedElement | FormattedText)[];
---

<Layout title="Ekocell | Egger Izolacija">
  <section class="xl:max-w-7xl m-auto mt-10 px-5 md:px-10 xl:px-0 pb-10">
    <div>
      <h1
        class="lg:text-6xl text-5xl leading-snug lg:leading-normal mb-2 text-slate-800"
      >
        {name}
      </h1>

      <p class="text-slate-600">{description}</p>
    </div>

    <!-- <div class="grid lg:grid-cols-2 lg:max-w-7xl grid-cols-1 gap-10 mt-10">
      <div class="lg:order-1 order-2">
      
      </div>
    </div> -->

    <TextWithMedia markdown={markdown} />
  </section>
</Layout>
