---
// import Card from "@components/Card.astro";
import Card from "@components/Card.astro";
import Heading1 from "@components/Heading/Heading1.astro";
import { getCategories } from "src/api/getCategories";
import Layout from "src/layouts/Layout.astro";

const categories = await getCategories();
---

<Layout title="Ekocell | Izolacija">
  <section class="lg:max-w-7xl m-auto">
    <Heading1 className="mt-10">{categories.title}</Heading1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 m-10">
      {
        categories.category.map((c) => (
          <ul class="h-full">
            <Card title={c.ime} shortDescription={c.kratkiopis} href="" />
          </ul>
        ))
      }
    </div>
  </section>
</Layout>
