---
// import Card from "@components/Card.astro";
import Heading1 from "@components/Heading/Heading1.astro";
import { getOnama } from "src/api/api";
import Layout from "src/layouts/Layout.astro";

const data = await getOnama();
---

<Layout title="Ekocell | Izolacija">
  <section class="">
    <Heading1 className="mt-10">Fasadne i pokrovne ploÄe</Heading1>

    <div>
      {data?.naslov}
    </div>
  </section>
</Layout>
