---
import { Sponsor, sponsors } from "../data/sponsors";
---

<div class="mt-10">
  <h2 class="text-center font-medium text-3xl mb-4">Naši Partneri</h2>

  <div class="flex flex-wrap justify-center items-center gap-4">
    {
      sponsors.map((s: Sponsor) => (
        <span>
          <img
            class="w-24 h-24 md:w-[134px] md:h-[134px]"
            src={s.src}
            alt={s.alt}
          />
        </span>
      ))
    }
  </div>
</div>
