---
import type {
  FormattedElement,
  FormattedText,
} from "../../../payload/src/rich-text-export";
import RichText from "./RichText.astro";

type Props = {
  markdown: (FormattedElement | FormattedText)[];
  media: any;
  className?: string;
};

type MediaItem = {
  mainImage: {
    url?: string;
  };
  gridImageOne: {
    url?: string;
  };
  gridImageTwo: {
    url?: string;
  };
};

const { markdown, media, className } = Astro.props;
---

<section
  class:list={[
    "grid xl:grid-cols-2 grid-cols-1 gap-10 items-center mt-10",
    className,
  ]}
>
  <div class="flex flex-col flex-grow-1 xl:order-1 order-2 justify-center">
    <RichText richText={markdown} />
  </div>

  <div class="xl:order-2 order-1">
    {
      media.map((item: MediaItem) => (
        <>
          {item.mainImage.url && <img src={item.mainImage.url} />}

          {item.gridImageOne?.url && item.gridImageTwo?.url && (
            <div class="xl:flex hidden gap-5 mt-5">
              {item.gridImageOne?.url && (
                <div>
                  <img src={item.gridImageOne.url} />
                </div>
              )}

              {item.gridImageTwo?.url && (
                <div>
                  <img src={item.gridImageTwo.url} />
                </div>
              )}
            </div>
          )}
        </>
      ))
    }
  </div>
</section>
