@import '../../scss/_variables.scss';

.input {
  @apply rounded-[4px] placeholder:text-stone-500 text-neutral-800 bg-input p-3;

  /* Remove outline for non-keyboard :focus */
  *:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px rgba($secondary, 0.4);
    outline: 1px solid $primary-color;
    outline-color: rgba($color: $primary-color, $alpha: 0.9);
  }
}
