---
import styles from "./Navbar.module.scss";
import MobileNavbar from "@components/Navbar/MobileNavbar";
import LinkCard from "@components/Card/LinkCard.astro";
---

<header class="px-6 sticky top-0 z-50">
  <nav class:list={[styles.root, "justify-between w-full"]}>
    <a href="#" class="flex align-center">
      <img
        src="/logo.svg"
        alt="Ekocell Logo"
        class="lg:h-[65px] sm:h-[55px] h-[40px] w-full"
      />
    </a>

    <ul class="lg:flex align-center h-full hidden">
      <li><a href="/" class={styles.link}>Naslovna</a></li>

      <li><a href="/onama" class={styles.link}>O nama</a></li>

      <li class={styles.dropdown}>
        <button class:list={[styles.link, "inline-flex h-full"]}>
          Izolacija
        </button>

        <ul role="menu" class:list={[styles.hide, "flex justify-center gap-5"]}>
          <li class="max-w-xs mt-6">
            <LinkCard
              href="/izolacija/celulozna-izolacija"
              description="Izrađena od mljevenog novinskog ili bijelog papira, u koju je dodana borova sol te ju čini vatrostalnom"
              name="Celulozna izolacija"
            />
          </li>
          <li class="max-w-xs mt-6">
            <LinkCard
              href="/izolacija"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam aliquet."
              name="Fasadne i pokrovne ploče"
            />
          </li>
        </ul>
      </li>

      <li><a href="/kontakt" class={styles.link}>Kontakt</a></li>
    </ul>
  </nav>

  <MobileNavbar client:media="(max-width: 1024px)" />
</header>
