---
import Hero from "@components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Designer from "@components/sections/Designer.astro";
import Gallery from "@components/sections/Gallery.astro";
import Partners from "@components/Partners.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Designer />
    <Gallery />
    <Partners />
  </main>
</Layout>
