---
import Heading1 from "@components/Heading/Heading1.astro";
import Paragraph from "@components/Paragraph/Paragraph.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="O nama | Ekocell">
  <section class="px-6 py-10">
    <Heading1>O nama</Heading1>

    <div class="mt-10 text-center">
      <Paragraph className="mb-5">
        Mlada i perspektivna firma koja želi unjeti inovativnost u gradnju.
        Svakom projektu se posvećujemo maksimalno kako bi kupac bio zadovoljan.
        Vjerujemo da drvena gradnja može u potpunosti zamjeniti i poboljšati
        udobnost života. Ako vam je dosta majstora koji daju lažna obaćanja
        prije gradnje, obratite nam se s povjerenjem i nećete požaliti.
      </Paragraph>

      <Paragraph className="mb-5">
        <b>Misija</b> je razvijanje i održavanje poslovnih odnosa s domaćim i stranim
        partnerima, prepoznajući njihove potrebe te poboljšati kulturu življenja.
      </Paragraph>

      <Paragraph className="mb-5">
        <b>Naša vizija</b> je prvenstveno zadovoljstvo naših kupaca. Posao s kojim
        se bavimo ne shvaćamo samo "poslom", nego i prilikom da naša vjerska uvjerenja
        pokažemo na djelu. Vođeni smo sloganom i stihom iz Biblije: „Što god da je
        vaš posao, činite to dobre volje, kao za Gospodina, a ne za ljude“.
      </Paragraph>
    </div>
  </section>
</Layout>
